body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    list-style-type: none;
}




.ul1 {
    display: flex;
    list-style-type: none;
    gap: 7%;
    font-size: 20px;
    text-align: center;

}

li:hover {
    color: orangered;
}

ul a img {
    display: flex;
    gap: 20%;
    justify-content: start
}

.downb {
    border: 2px solid orangered;
    padding: 8px 20px;
    /* width: 100%; */
    border-radius: 1%;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}

ul li a:hover {
    color: white;
    background-color: orangered
}

.tag-1 {
    font-size: 50px;
    color: orangered;
}

.tag-2 {
    font-size: 85px;
    display: flex;
}

.tag-3 {
    text-decoration: none;
    font-size: x-large;
}

.tag-4 {
    border: 3px solid orangered;
    border-radius: 15px;
    color: black;
    padding: 7px;

}

.tag-4:hover {
    color: white;
    background-color: orangered
}

.tag-5 {
    text-decoration: none;
    font-size: x-large;
}

.tag-6 {

    border: 3px solid orangered;
    background-color: orangered;
    color: white;
    border-radius: 15px;
    padding: 7px;
}

.tag-6:hover {
    background-color: white;
    color: black;

}

.p1 {
    font-size: 30px;
}

.p2 {

    color: rgb(102, 101, 101);

}

i {
    color: black;
    display: flex;
    padding-left: 15px;

}

.flex {
    display: flex;
    justify-content: space-around;
}

.picture img {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 15px;
    /* padding: 20px; */

}

/* 
        .volume1 {
            width: 25%;
            background-color: lightgray;
            border-radius: 10px;
            height: 15px;
        } */

/* .volume {
            width: 10%;
            background-color: orangered;
        } */



.container {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
}

.skill {
    background-color: orangered;
    color: lightgray;
    height: 15px;
    /* padding: 1%;  */
    text-align: right;
    /* font-size: 10px; */
    border-radius: 15px;
}

.html {
    width: 80%;
}



.container-1 {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
}

.skill-1 {
    background-color: green;
    color: lightgray;
    height: 15px;
    /* padding: 1%;  */
    text-align: right;
    /* font-size: 10px; */
    border-radius: 15px;
}

.html-1 {
    width: 90%;
}


.container-2 {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
}

.skill-2 {
    background-color: rgb(128, 103, 240);
    color: lightgray;
    height: 15px;
    /* padding: 1%;  */
    text-align: right;
    /* font-size: 10px; */
    border-radius: 15px;
}

.html-2 {
    width: 75%;
}

.Servicess ul li div :hover {
    background-color: rgb(213, 227, 231);
}

#image:hover {
    transition: transform .5s;
    transform: scale(1.04);
}

#image1:hover {
    transition: transform .5s;
    transform: scale(1.04);
}

#image2:hover {
    transition: transform .5s;
    transform: scale(1.04);
}

#image3:hover {
    transition: transform .5s;
    transform: scale(1.04);
}

#image4:hover {
    transition: transform .5s;
    transform: scale(1.04);
}

#image5:hover {
    transition: transform .5s;
    transform: scale(1.04);
}

.dgrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* gap: 30px; */
    justify-content: center;
    text-align: center;
    /* left: 0; */
    /* right: 0; */

}

.dgrid :hover {
    background-color: 2px lightgray;
}

.div-1 {
    opacity: 0.2;
}

.div-1:hover {
    opacity: 1;
}

.container-s {
    margin: 10px 15rem;
}

.card-mt {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

#image6:hover {
    transition: transform .5s;
    transform: scale(1.07);
}

#image7:hover {
    transition: transform .5s;
    transform: scale(1.07);

}

#image8:hover {
    transition: transform .5s;
    transform: scale(1.07);

}

.send_now_button {
    height: 52px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    width: 100px;
}

.orangeCircle {
    width: 90px;
    height: 90px;
    background-color: #f75023;
    border-radius: 50%;
    opacity: 0.3;
}

.greenCircle {
    width: 90px;
    height: 90px;
    background-color: green;
    border-radius: 50%;
    opacity: 0.3;
}

.lightblueCircle {
    width: 90px;
    height: 90px;
    background-color: #b3a5fa;
    border-radius: 50%;
    opacity: 0.3;

}

.submit-now-button :hover {
    background-color: white;
    color: black;

}

.hover-1:hover {
    color: orangered;
}